<app-menu></app-menu>
<div style="display: flex;flex-direction: row;">

    <div class="container text-center">
      <h1>Orders</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of this.mainService.orders?.orders">
            <td>{{order.id}}</td>
            <td>{{order.first_name}}</td>
            <td>{{order.last_name}}</td>
            <td>{{order.email}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
