<app-panel-top></app-panel-top>
<div class="products container">
    <table style="margin:0 auto;" id="cartTable">
        <thead *ngIf="this.mainService.products">
            <tr>
                <th>Logo</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let object of this.mainService.cart">
                <tr style="background-color: whitesmoke;">
                    <td><img src="{{object.product.thumbnail}}" alt=""></td>
                    <td>
                        <ul>
                            <li>Title: {{object.product.title}}</li>
                            <li>Price: {{object.product.price}}</li>
                            <li>Category: {{object.product.category}}</li>
                        </ul>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="summary">
        <p>Final price: {{getCartPrice()}}</p>
    </div>
    <div class="payment">
        <div id="paypal">
        </div>
        <form action="http://www.jakubadamus.cba.pl/paypal.php" method="get" #paymentForm>
            <input type="text" #firstName name="firstName" id="" placeholder="First Name">
            <input type="text" #lastName name="lastName" id="" placeholder="Last Name">
            <input type="text" #email name="email" id="" placeholder="Email">
            <input type="text" name="phone" id="" placeholder="Telephone">
            <ng-container *ngFor="let object of this.mainService.cart">
                <input type="hidden" name="products[]" value="{{ object | json }}">
            </ng-container>
            <label for="">I accept terms of use:
              <input #regulamin type="checkbox" name="aggrement" id="" (change)="0">
            </label>
            <button [disabled]="!regulamin.checked" (click)="paymentForm.submit()" class="btn btn-primary">Buy</button>
        </form>
    </div>
</div>
