<app-panel-top></app-panel-top>

<button routerLink="/landing">Powrót</button>

<div class="products">
    <table style="margin:0 auto;" id="cartTable">
        <thead *ngIf="this.mainService.products">
            <tr>
            <th>obrazek</th>
            <th>dane</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let object of this.mainService.cart">
            <tr style="background-color: whitesmoke;">
                <td><img src="{{object.product.thumbnail}}" alt=""></td>
                <td>
                <ul>
                    <li>Tytuł: {{object.product.title}}</li>
                    <li>Cena: {{object.product.price}}</li>
                    <li>Kategoria: {{object.product.category}}</li>
                </ul>
                </td>
            </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="summary">
        <p>Do zapłaty: {{getCartPrice()}}</p>
    </div>
    <div class="payment" style="margin:0 auto;">
        <div id="paypal">
            <img src="https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_960_720.png" width="200">
        </div>
        <form action="http://www.jakubadamus.cba.pl/paypal.php" method="get" #paymentForm>
            <input type="text" #firstName name="firstName" id="" placeholder="Imie"><br>
            <input type="text" #lastName name="lastName" id="" placeholder="Nazwisko"><br>
            <input type="text" #email name="email" id="" placeholder="Email"><br>
            <input type="text" name="phone" id="" placeholder="Telefon"><br>
            <ng-container *ngFor="let object of this.mainService.cart">
                <input type="hidden" name="products[]" value="{{ object | json }}">
            </ng-container><br>
            <label for="">Akceptuję regulamin:
            <input #regulamin type="checkbox" name="aggrement" id="" (change)="0">
            </label><br>
            <button [disabled]="!regulamin.checked" (click)="paymentForm.submit()">Kup</button>
        </form>
    </div>
</div>