<app-menu></app-menu>
<div style="display: flex;flex-direction: row;">
    <div class="container">
        <div class="content-header">
            <h2>Products</h2>
        </div>
        <button (click)="getProducts()" class="btn btn-secondary">Refresh</button>
        <div class="container">
          <h2>Add new product</h2>
            <table style="margin: 0 auto;" class="table">
                <thead>
                    <tr>
                        <th>Link to picture</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" [(ngModel)]="newProduct.thumbnail"></td>
                        <td><input type="text" [(ngModel)]="newProduct.title"></td>
                        <td><input type="number" [(ngModel)]="newProduct.price"></td>
                        <td>
                          <select [(ngModel)]="newProduct.category">
                            <option value="game" selected>Game</option>
                            <option value="tool">Tool</option>
                          </select>
                        </td>
                        <td>
                          <button (click)="this.mainService.addProduct(newProduct)" class="btn btn-primary">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
          <h2>All products in database</h2>

          <table style="margin:0 auto;" id="productsTable" class="table">
              <thead *ngIf="this.mainService.products">
                  <tr>
                      <th>Logo</th>
                      <th>Data</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let product of this.mainService.products?.productsTable">
                      <tr style="background-color: whitesmoke;">
                          <td><img src="{{product.thumbnail}}" alt="Product logo"></td>
                          <td>
                              <ul>
                                  <li>Title: {{product.title}}</li>
                                  <li>Price: {{product.price}}</li>
                                  <li>Category: {{product.category}}</li>
                              </ul>
                          </td>
                          <td>
                              <button (click)="this.mainService.removeProduct(product.id)" class="btn btn-danger">Delete</button>
                          </td>
                      </tr>
                  </ng-container>
              </tbody>
          </table>
        </div>
    </div>
</div>
